@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width: 1855px)
	.block_menu .item .logo
		margin-right: 50px
	.block_menu .item .menu li a
		font-size: 16px
	.block_header_title .title .text1
		font-size: 150px
	.mocap4
		width: 440px
	.mocap1
		right: -130px
	.block_header_title .title .mocap5
		width: 300px
	.mocap2
		left: -40px
	.mocap4
		left: 52%
	.mocap6
		right: 60px
	.mocap7
		left: 15%
	.mocap8
		right: 9%
	.mocap9
		left: 77%

@media (max-width: 1650px)
	.block_menu .item .logo img
		width: 140px
	.block_menu .item .menu li a
		font-size: 15px
		display: block
		text-align: center
	.block_menu .item .menu li
		margin-right: 14px
	.block_menu .item .block_social_network
		margin-right: 85px
	.mocap4
		left: 45%
	.mocap2
		left: -130px
	.mocap3
		display: none
	.block_header_title
		height: 596px
	.mocap6
		right: -40px
	.block_we_are_suitable .item
		width: 635px
	.bg_purple_wawe
		background-size: cover
		background-position: 200px 0
	.wrap.p460
		max-width: 970px
		padding-left: 15px
		padding-right: 15px
	.block_uniqueness>.item
		width: 50%
	.block_uniqueness>.item .block_albums, .block_uniqueness>.item .block_text
		padding: 30px 30px 0
	.block_uniqueness>.item .block_text p, .block_uniqueness>.item .block_text ul li span
		font-size: 16px
	.block_title_reviews .title span:nth-child(1)
		font-size: 250px
		line-height: 188px
	.block_title_reviews .title span:nth-child(2)
		font-size: 52px
	.block_title_reviews .title img
		width: 630px
		top: -237px
		left: -490px
	.block_uniqueness>.item
		height: 510px
	.section_indent4
		padding-top: 200px
	.block_form
		width: 705px
	.main_form .block_input .download label
		font-size: 14px

@media (max-width: 1450px)
	.mocap2
		display: none
	.mocap4
		left: 29%
	.block_menu .item .logo img
		width: 100px
	.block_menu .item .block_social_network
		margin-right: 40px
	.block_menu .item .logo
		margin-right: 30px
	.block_tel_btn a:last-child
		width: 190px
	.block_tel_btn a:first-child
		letter-spacing: 1px
	.block_advantages_of_work .item .text
		padding-right: 5px
		padding-left: 5px
	.mocap6
		right: -170px
	.wrap.p200
		max-width: 1100px
		padding-left: 15px
		padding-right: 15px
	.mocap7
		left: 8%
	.bg_purple_wawe
		background-position: 70px 0
	.mocap8
		right: 1%

// ≥1200px
+media-breakpoint-down(lg)
	.wrap
		padding-right: 40px
		padding-left: 40px
	.block_header_title
		height: 612px
	.mocap6
		width: 650px
	.wrap.p200, .wrap.p380
		padding-right: 25px
		padding-left: 25px
	.mocap7
		width: 250px
		left: 3%
	.mocap8
		bottom: 90px
		width: 460px
	.slider_albums .item.slick-current a img
		width: 115px
	.slider_albums .item a img
		width: 60px
	.block_title_reviews .title span:nth-child(1)
		font-size: 120px
		line-height: 88px
	.block_title_reviews .title span:nth-child(2)
		font-size: 25px
		line-height: 20px
	.block_title_reviews .title img
		width: 300px
		top: -117px
		left: -250px
	.block_title_reviews .title
		right: -140px
	.section_indent4
		padding-top: 100px
	.block_title_reviews .arrow_curve
		width: 190px
	.block_title_reviews
		padding-bottom: 185px
	.mocap9
		width: 410px
		left: 93%
	.block_form
		width: 685px

// ≥992px
+media-breakpoint-down(md)
	.block_menu
		z-index: 10
	.mocap1
		display: none
	.header_main_block
		background-color: rgb(236, 128, 0)
	.block_menu .item .block_social_network
		display: none
	.block_tel_btn
		&.black
			a
				&:nth-child(1)
					color: rgb(67, 67, 67)
	.block_header_title
		height: auto
		padding-top: 100px
		padding-bottom: 100px
	.block_menu .item .menu
		position: absolute
		z-index: 20
		top: 200px
		right: 0
		transform: translate(300%, 0)
		width: 280px
		flex-direction: column
		background-color: #fff
		padding: 30px
		transition: 0.3s
		&.active
			transform: translate(0%, 0)
		li
			margin-bottom: 10px
			&:last-child
				margin-bottom: 0
			a
				&:before
					display: none
	.block_menu .item:first-child
		position: static
		left: auto
	.block_menu .item .logo
		margin: 0
	.block_header_title .title .text1
		font-size: 130px
	.mocap4
		width: 450px
		left: 20%
	.block_header_title .title .text3
		font-size: 61px
	.block_header_title .title .mocap5
		bottom: -90px
		right: -95px
		width: 250px
	.block_advantages_of_work .item
		width: calc(100% / 2)
		&:nth-child(2n+2)
			.img
				&:after
					display: none
	.block_earnings .text3
		font-size: 13px
	.block_earnings .text2 span:nth-child(1)
		font-size: 65px
		line-height: 60px
	.block_earnings .text2 span:nth-child(2)
		font-size: 145px
		line-height: 120px
	.block_earnings .text2 span:nth-child(3)
		font-size: 45px
		line-height: 44px
	.mocap6
		right: -190px
	.block_we_are_suitable .item
		width: 100%
	.block_we_are_suitable .item .text1, .block_we_are_suitable .item .text2
		text-align: right
	.block_we_are_suitable .item .btn_yellow
		float: right
	.bg_purple_wawe
		background-image: none
		background-color: rgb(121, 2, 147)
	.mocap7
		width: 180px
	.mocap8
		bottom: 180px
		width: 320px
	.block_uniqueness
		flex-wrap: wrap
		.item
			margin-right: 0
			margin-bottom: 20px
			width: 500px
	.bg_comp
		background-size: cover
	.slider_video .item a .video_preview
		height: 160px
	.mocap9
		display: none
	.block_form
		width: 100%
	.block_footer
		flex-wrap: wrap
		justify-content: center
		.item
			display: flex
			justify-content: center
			margin-bottom: 20px
			width: 100%
	.footer
		padding-top: 40px
		padding-bottom: 40px
	.block_menu .item .menu
		li
			margin: 0 0 10px 0

// ≥768px
+media-breakpoint-down(sm)
	.block_header_title .title .text2, .block_header_title .title .text3
		text-align: right
	.block_header_title
		padding-top: 0
		padding-bottom: 200px
	.header
		height: auto
	.block_menu
		padding-top: 30px
		padding-bottom: 30px
	.block_header_title .title .mocap5
		bottom: -240px
		right: -45px
	.mocap4
		width: 350px
	.block_header_title .title .text1
		line-height: 170px
	.block_menu .item .menu
		top: 160px
	.ind_b_m
		padding-bottom: 400px
	.mocap6
		right: 90px
		width: 410px
	.block_we_are_suitable .item .title
		padding-right: 50px
	.block_we_are_suitable .item .title
		font-size: 30px
	.block_we_are_suitable .item .text1
		font-size: 67px
	.block_we_are_suitable .item .text2
		font-size: 52px
	.mocap8
		bottom: 90px
		width: 240px
		right: 25%
	.section_indent3
		padding-top: 50px
		padding-bottom: 80px
	.block_title_reviews .title
		right: -120px
	.main_form .block_input .download label
		line-height: normal
		text-align: center
	.main_form .block_input .download label img
		margin-left: 15px

// ≥576px
+media-breakpoint-down(xs)
	.popap.popap_policy.fancybox-content
		width: 100%
		padding: 50px 15px 30px
		ul
			padding-left: 10px
		p, li
			font-size: 10px
		h1
			font-size: 15px
	.wrap
		padding-right: 15px
		padding-left: 15px
	.block_header_title .title .text1
		text-align: right
		font-size: 80px
		line-height: normal
	.block_header_title .title .text2:after
		display: none
	.block_header_title .title .text2
		font-size: 28px
		line-height: 18px
		margin-bottom: 15px
	.block_header_title .title .text2 span
		font-size: 17px
	.block_header_title
		padding-top: 40px
	.block_header_title .title .text3
		font-size: 41px
		line-height: 40px
	.block_header_title .title .mocap5
		bottom: -210px
		right: -25px
		width: 200px
	.block_advantages_of_work .item .img
		img
			width: 110px
	.block_advantages_of_work .item .img:after
		width: 16px
		height: 16px
	.block_advantages_of_work .item .text
		font-size: 14px
	.block_title .title
		font-size: 25px
	.block_advantages_of_work
		margin-top: 40px
	.block_earnings .text2 span:nth-child(1)
		font-size: 50px
		line-height: 48px
	.block_earnings .text2 span:nth-child(2)
		font-size: 102px
		line-height: 90px
	.block_earnings .text2 span:nth-child(3)
		font-size: 30px
		line-height: 30px
	.block_earnings .line, .block_earnings .text2
		margin-bottom: 20px
	.mocap6
		right: -10px
	.list_we_are_suitable li .text
		font-size: 14px
		line-height: normal
	.block_we_are_suitable .item .text1
		span
			font-size: 140px
	.block_we_are_suitable .item .text2
		width: 200px
		float: right
	.block_we_are_suitable .item .btn_yellow
		width: 150px
		font-size: 14px
		height: 50px
	.mocap7
		width: 210px
		left: -13%
	.list_features
		margin-top: 40px
	.mocap8
		right: 17%
	.block_uniqueness .item
		width: 100%
	.slick-dots li
		margin: 0 2px
	.block_uniqueness>.item .block_albums, .block_uniqueness>.item .block_text
		padding: 20px
	.block_uniqueness>.item
		height: auto
	.bg_comp
		background-position: -552px 20px
	.block_uniqueness>.item:before
		width: 8px
		height: 72px
	.block_uniqueness>.item .block_text p, .block_uniqueness>.item .block_text ul li span
		font-size: 14px
	.slick-list
		padding: 0 0px !important
	.slider_albums_arrow_dot .slick-prev
		left: -20px
	.slider_albums_arrow_dot .slick-next
		right: -20px
	.block_title_reviews .title span:nth-child(1)
		font-size: 60px
		line-height: 48px
	.block_title_reviews .title span:nth-child(2)
		font-size: 13px
	.block_title_reviews .title img
		width: 180px
		top: -68px
		left: -145px
	.block_title_reviews .title
		right: -60px
	.block_title_reviews .arrow_curve
		width: 100px
	.block_title_reviews
		padding-bottom: 105px
	.section_indent4
		padding-top: 60px
	.slider_video .item
		padding: 10px
	.slider_albums .item
		height: 200px
	.main_form .block_input
		.item
			width: 100%
	.main_form .block_chekbox label
		font-size: 14px

@media (max-width: 374px)
	.block_tel_btn a:first-child
		font-size: 20px
	.block_tel_btn a:last-child
		width: 130px
		font-size: 12px
	.mocap4
		width: 210px
	.block_earnings .text2 span:nth-child(2)
		font-size: 98px
	.mocap7
		width: 164px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	.block_menu
		.item
			&:nth-child(3)
				display: none

// ≤1200px
+media-breakpoint-up(xl)
