/* @font-face {
	font-family: "ico";
	src: url("../fonts/ico/icomoon.eot");
	src: url("../fonts/ico/icomoon.eot?#iefix") format("embedded-opentype"),
			 url("../fonts/ico/icomoon.woff") format("woff"),
			 url("../fonts/ico/icomoon.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
} */