*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "Roboto", sans-serif;
	overflow-x: hidden;
	font-weight: 400;
}

/* header */
.header {
	background-image: url(../img/bg-photo.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 312px;
}
.top_mnu {
	height: 51px;
	border-bottom: 2px solid #6e6e6e;
}
.top_mnu > ul{
	float: right;
	height: 51px;
	margin: 0;
	padding: 0;
}
.top_mnu > ul > li{
	list-style-type: none;
	display: inline-block;
	line-height: 51px;
	margin-right: 65px;
}
.top_mnu > ul > li:last-child{
	margin-right: 50px;
}
.top_mnu > ul > li > a > img{
	margin: 0 15px 0 0;
}
.top_mnu > ul > li > a{
	text-decoration: none;
	width: 169px;
	height: 21px;
	color: #ab7bc7;
	font-family: 'Roboto', sans-serif;
	font-size: 18.0px;
	font-style: normal;
	font-stretch: normal;
	font-weight: 500;
}
.logo {
	margin-top: 23px;
	margin-left: 39px;
}
.search > input {
	border-radius: 0px;
	width: 476px;
	height: 36px;
	border: 1px solid rgba(124,124,124,0.47);
	background-color: rgba(255,255,255,0.09);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	background-image: url(../img/lince.png);
	background-repeat: no-repeat;
	background-position: 100% center;
	margin-top: 54px;
	outline-style: none;
	color: #8b8b8b;
	font-family: 'Roboto', sans-serif;
	font-size: 18.0px;
	font-style: normal;
	font-stretch: normal;
	font-weight: 300;
	padding-left: 5px;
	padding-right: 35px;
}
.categories_ico > span {
	font-size: 62px;
	color: #626262;
	-webkit-text-stroke: 0.5px #D5D5D5;
	text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
	transition: 0.5s;
}
.categories_ico > span:before {
	transition: 0.5s;
}
.categories_ico > span:hover:before {
	color: #434242;
	transition: 0.5s;
}
.categories_ico {
	margin: 37px auto 5px auto;
}
.ico_auto {
	width: 67px;
}
.ico_electronics {
	width: 87px;
}
.ico_sport {
	width: 62px;
}
.ico_personal {
	width: 75px;
}
.categories {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 24.0px;
	line-height: 26px;
	font-style: normal;
	font-stretch: normal;
	font-weight: 700;
}
.categories > li > a{
	text-decoration: none;
	color: #504e4e;
	outline-style: none;
}
.categories > li{
	padding: 0;
}
.categories_dropdown {
	position: absolute;
	display: block;
	left: 14px;
	top: 185px;
	list-style-type: none;
	padding: 25px 5px 25px 15px;
	border-radius: 12px;
	width: 276px;
	height: auto;
	border: 1px solid #969696;
	background: #eaeaea;
}
.categories_dropdown > li{
	text-align: left;
	margin: 20px 0;
	padding: 0 0 0 54px;
	position: relative;
}
.categories_dropdown > li:first-child{
	margin-top: 0;
}
.categories_dropdown > li:last-child{
	margin-bottom: 0;
}
.categories_dropdown > li > a{
	color: #464545;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 18.0px;
	font-style: normal;
	font-stretch: normal;
	font-weight: 500;
}
.categories_dropdown > li > a > span{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 30.5px;
	color: #626262;
	-webkit-text-stroke: 0.5px #D5D5D5;
	text-shadow: 3px 3px 6px rgba(0,0,0,0.5);
}
.button_mnu {
	border-radius: 12px;
	width: 117px;
	height: 25px;
	border: 1px solid #969696;
	background: #d7d7d7;
	margin: 15px auto;
}
.button_mnu > img {
	display: block;
	width: 20px;
	margin: 7px auto;
}