@import "vars"


/*==========  Desktop First  ==========*/

//1600
+media-breakpoint-down(pb)
	.block_menu_top .block_contacts li a.tel
		font-size: 19px
	.block_menu_top .block_contacts li
		margin-bottom: 10px
	.block_menu_top .block_contacts li a.mail, .block_menu_top .block_logo h4
		font-size: 12px
	.block_menu_top .block_shop a
		width: 40px
		height: 40px
	.block_menu_top .block_shop a svg
		width: 18px
	.header_main_block
		height: 600px
	.block_categories_of_products
		height: 280px
	.bg_block_free_calculation
		background-position: -120px 0
	.mocap
		width: 900px
		left: -190px
	.block_free_calculation .subtitle br
		display: none
	.block_saving .item .numb span
		font-size: 40px
	.block_saving .item .text
		font-size: 14px
	.mocap3
		left: 145px
	.grey_block span.text
		font-size: 25px
	.header_mocap
		width: 800px
	.mocap_free_calculation
		width: 620px
		right: 30px
	.block_category_selection .item a .text
		font-size: 15px
	.block_card_photos .block_small
		width: 300px
	.block_card_photos .block_big a
		height: 540px
	.block_card_photos .block_small .item, .block_card_photos .block_small .item a
		height: 170px
	.block_assemble_modification .block_select .item
		margin-right: 30px
	.modification_table tr td
		font-size: 14px
	.block_category_selection .item a .img
		width: 105px
		height: 105px
	.block_category_selection .item a .img span
		width: 90%
		height: 90%
	.block_category_selection .item a .img span
		font-size: 13px
	.block_category_selection .item a .text
		font-size: 13px
		line-height: 20px
	.block_urgent_question .block_text
		margin-right: 30px
	.mocap5
		width: 670px
		right: -100px
		bottom: 30px
	.block_qualified_staff
		align-items: center

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
