@import "vars"


/*==========  Desktop First  ==========*/

//1370px
+media-breakpoint-down(lg)
	.header_main_block .inner h1
		font-size: 48px
		line-height: 57px
	.block_categories_of_products_title .title, .block_free_calculation .title, .block_certificates .title, .block_title .title
		font-size: 42px
		line-height: 50px
	.block_menu_top .block_logo a.logo
		margin-right: 15px
		img
			width: 65px
	.block_menu_top .block_menu>li>a, .block_menu_top .block_menu>li .drop_menu li a, .block_slider_they_trust_us .block_slider .item .text
		font-size: 12px
	.block_menu_top .block_menu>li .drop_menu
		width: 220px
	.block_menu_top .block_menu>li .drop_menu:before
		background-position: center
	.block_menu_top .block_menu>li .drop_menu li a
		padding: 14px 15px
	.header_main_block .inner h2
		font-size: 22px
	.block_buy_or_become>div.block_left
		padding-left: 15px
	.block_buy_or_become>div.block_right
		padding-right: 15px
	.block_advantages .item .title span
		font-size: 45px
	.block_advantages .item .title, .block_categories_of_products_title .subtitle, .block_free_calculation .subtitle, .block_free_calculation .subtitle, .block_title .subtitle
		line-height: 25px
		font-size: 19px
	.block_slider_they_trust_us .block_slider_name span
		font-size: 20px
	.block_slider_they_trust_us .block_slider_name
		width: 170px
	.block_slider_they_trust_us .block_slider .item .img
		margin-bottom: 10px
	.header_main_block
		height: 500px
	.block_advantages .item .text
		font-size: 13px
		line-height: 20px
	.btn_bulk span
		font-size: 12px
		line-height: 17px
	.btn_bulk
		width: 330px
		height: 60px
	.block_buy_or_become>div .title
		font-size: 24px
		line-height: 36px
	.block_menu_top .block_contacts li a.tel:before
		left: -8px
	.block_categories_of_products .inner .title
		font-size: 25px
		line-height: 36px
	.btn_transparent
		font-size: 12px
	.bg_block_free_calculation
		background-position: -340px 0
	.block_free_calculation .list li
		font-size: 14px
		line-height: 20px
	.block_free_calculation .list li:before
		left: 31px
		font-size: 20px
	.block_free_calculation .list li
		padding-left: 100px
	.block_form
		padding: 35px 20px
	.block_form .block_input, .block_form button
		margin: 0 20px
	.block_form .block_input .required
		font-size: 12px
		svg
			position: relative
			top: 3px
			width: 12px
	.section_indent4
		padding-top: 145px
	.mocap
		left: -270px
	.block_form
		width: 1130px
	.btn_bulk span
		padding: 0 20px
	.block_saving .item .text
		font-size: 12px
		line-height: 22px
	.mocap2
		right: 30px
		width: 690px
		bottom: -60px
	.block_certificates .list li
		font-size: 14px
	.block_free_calculation.black .title
		br
			display: none
	.grey_block span.text
		font-size: 22px
		line-height: 28px
	.mocap3
		left: 115px
	.block_footer .item .list li a, .block_footer .item .link span, .block_footer .item .block_contacts li .mail
		font-size: 12px
	.block_footer .item .list li
		margin-bottom: 10px
	.block_footer .item .list
		margin-bottom: 50px
	.block_footer .item .block_contacts li .tel
		font-size: 20px
	.block_footer .item .block_contacts
		margin-bottom: 30px
	.block_footer .item .chmerev_digital
		font-size: 12px
	.block_footer .item .link
		margin-bottom: 30px
	.block_footer .item .chmerev_digital
		margin-top: 80px
	.popup_big.fancybox-content, .popup_small.fancybox-content
		padding: 30px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		margin-bottom: 30px
	.header_mocap
		width: 670px
	.mocap_free_calculation
		right: 50px
	.block_category_selection .item a .text
		font-size: 13px
	.block_category_selection .item a .img
		width: 100px
		height: 100px
	.block_category_selection .item a .img span
		width: 90%
		height: 90%
		font-size: 11px
		line-height: 16px
	.main_block_filters .block_left .item
		margin-right: 30px
	.main_block_filters .text, .products_list .item .param1, .products_list .item .param2
		font-size: 14px
		line-height: 22px
	.block_products_list .title
		font-size: 28px
	.products_list .item .img
		height: 240px
	.products_list .item .param1:before, .products_list .item .param2:before
		height: 17px
	.products_list .item .name_product
		font-size: 21px
	.block_assemble_modification .block_select
		flex-wrap: wrap
		.item
			width: 260px
			margin-bottom: 10px
	.modification_table tr td
		font-size: 12px
		line-height: 18px
	.modification_table tr:nth-child(1) td
		font-size: 13px
		line-height: 19px
	.modification_table tr:nth-child(2) td
		font-size: 22px
	.modification_table tr td .basket, .modification_table tr td .favorites
		width: 40px
		height: 40px
		svg
			width: 18px
	.section_indent7
		padding-bottom: 120px
	.block_favorites_basket>.item .block_text .title
		font-size: 20px
	.block_favorites_basket>.item .block_text .vendor_code
		font-size: 14px
	.block_favorites_basket>.item .block_text .text
		font-size: 14px
	.block_favorites_basket>.item .block_text
		width: 500px
	.block_urgent_question .block_text
		width: 400px
	.block_urgent_question .block_text li .link
		font-size: 43px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
