@import "vars"


/*==========  Desktop First  ==========*/

// ≥576px
+media-breakpoint-down(xs)
	.block_menu_top .block_contacts li a.tel
		font-size: 12px
	.block_menu_top .block_contacts li
		margin-bottom: 5px
	.block_menu_top .block_contacts li a.tel:before
		display: none
	.block_menu_top .block_logo a.logo
		margin-right: 0
	.header_main_block .inner h1
		font-size: 25px
		line-height: 34px
	.header_main_block .inner h2
		font-size: 15px
	.header_main_block .inner h2
		font-size: 15px
		line-height: 23px
	.header_main_block .inner h2, .block_advantages .item .text, .block_free_calculation .list li, .block_saving .item .text
		br
			display: none
	.header_main_block
		height: 400px
	.block_menu_top
		padding: 25px 0
	.block_buy_or_become
		flex-direction: column
	.block_slider_they_trust_us .block_slider_name
		width: 130px
	.block_buy_or_become>div
		width: 100%
	.block_buy_or_become>div .title
		font-size: 19px
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title, .block_title .title
		font-size: 22px
		line-height: 29px
	.block_advantages .item .title, .block_categories_of_products_title .subtitle, .block_free_calculation .subtitle, .block_title .subtitle
		font-size: 14px
		line-height: 18px
	.block_categories_of_products
		height: 190px
	.block_free_calculation .list li
		padding-left: 30px
		font-size: 12px
		margin-bottom: 30px
	.block_free_calculation .list li:before
		left: 5px
	.block_free_calculation .list li:after
		left: 15px
	.block_certificates .list li
		font-size: 12px
	.block_certificates .title
		margin-bottom: 30px
	.popup_big.fancybox-content
		width: 360px
	.popup_big.fancybox-content .block_form_popup div.popup_row .block_input input, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input input
		height: 60px
	.popup_big.fancybox-content .block_form_popup div.popup_row .block_input.active .required, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input.active .required
		font-size: 14px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		font-size: 15px
		line-height: 17px
	.popup_big.fancybox-content .block_form_popup, .popup_small.fancybox-content .block_form_popup
		width: 100%
	.popup_big.fancybox-content .block_form_popup div.popup_row .block_input input, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input input, .popup_big.fancybox-content .block_form_popup div.popup_row .title, .popup_small.fancybox-content .block_form_popup div.popup_row .title, .popup_big.fancybox-content .block_form_popup div.popup_row .block_input .required, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input .required, .main_block_filters .text, .select-items div, .select-selected
		font-size: 12px
	.popup_big.fancybox-content .block_form_popup div.popup_row, .popup_small.fancybox-content .block_form_popup div.popup_row
		margin-bottom: 30px
	.block_menu_top .block_logo a.logo img
		width: 40px
	.block_menu_top .block_logo a.logo
		margin-right: 5px
	.block_menu_top .block_logo h4
		font-size: 8px
		line-height: 10px
	.block_buy_or_become>div.block_right .title
		text-align: left
	.block_buy_or_become>div.block_right .btn_bulk
		margin-left: 0
	.block_buy_or_become>div
		padding: 40px 15px
	.section_indent65
		padding: 30px 0
	.main_block_filters .block_left
		margin-bottom: 0
	.main_block_filters .text
		margin: 0
	.block_products_list .title
		font-size: 16px
	.block_products_list .title:after
		bottom: 4.5px
		height: 2px
	.block_products_list .title span
		padding-right: 5px
	.breadcrumbs li a
		font-size: 10px
	.block_card_photos .block_big a
		height: 220px
	.block_card_photos .block_small .item a
		height: 80px
	.block_basic_information
		flex-direction: column
		.item
			margin-bottom: 10px
	.block_card_photos, .block_basic_information, .block_assemble_modification .block_select
		margin-bottom: 20px
	.block_tab_links .tab_link a
		font-size: 9px
		line-height: 14px
	.block_tabs .block_tab
		padding: 20px 15px
	.block_category_selection .item a .img
		width: 70px
		height: 70px
	.block_category_selection .item a .img span
		font-size: 9px
		line-height: 12px
	.block_category_selection .item
		width: 110px
	.block_favorites_basket>.item
		flex-direction: column
	.block_favorites_basket>.item .block_link
		flex-direction: row
		align-items: center
	.block_favorites_basket>.item .block_link .item
		margin-bottom: 0
	.block_favorites_basket>.item .block_link
		margin-bottom: 15px
	.block_favorites_basket>.item .block_text
		padding: 15px
		width: 100%
	.block_title2 .title
		font-size: 16px
		line-height: 20px
	.block_dfw
		flex-direction: column
	.block_urgent_question
		padding: 15px
	.block_urgent_question .block_text li .text
		font-size: 12px
	.block_urgent_question .ico img
		width: 50px
	.block_urgent_question .block_text li .link
		font-size: 21px
	.block_dfw .item .text
		display: block
		font-size: 10px
		margin-bottom: 15px
	.block_specifications .tabl_specifications tr td:first-child
		width: auto
	.block_specifications .tabl_specifications tr td
		font-size: 10px
	.block_tab_links .tab_link a
		font-size: 8px
	.block_card_photos .block_img a
		height: 300px
	.block_order_quantity .item .btn_bulk
		width: 140px
	.block_specifications .btn_transparent
		width: 100%
	.block_specifications .tabl_specifications tr td
		padding: 10px
	.block_favorites_basket>.item .block_link
		width: 100%
	.block_favorites_basket>.item .block_link
		order: 2

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
