@import "vars"


/*==========  Desktop First  ==========*/

//1800
@media (max-width: 1800px)
	.block_menu_top .block_menu>li
		margin-right: 30px
	.mocap
		left: -273px
	.block_saving .item
		margin-right: 0
	.block_saving
		justify-content: space-between
		align-items: center
	.mocap2
		right: 68px
		width: 800px
	.mocap_free_calculation
		right: 160px
	.mocap3
		left: 225px
	.mocap5
		right: -190px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
