@import "vars"


/*==========  Desktop First  ==========*/

// ≥768px
+media-breakpoint-down(sm)
	.block_form
		width: 100%
	.block_form .block_input input
		font-size: 10px
	section.block_form_indent
		padding-right: 30px
	.block_form
		flex-direction: column
	.block_form .block_input input
		height: 60px
		margin-bottom: 10px
	.section_indent4
		padding-top: 180px
	.section_indent3
		padding-bottom: 170px
	.block_form
		padding: 20px
	.block_saving .item
		flex-direction: column
	.block_saving .item .numb
		margin-right: 0
		line-height: 35px
	.block_saving .item .text
		text-align: center
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title
		br
			display: none
	.footer_indent
		padding-top: 40px
		padding-bottom: 40px
	.block_footer
		flex-direction: column
		.item
			margin-bottom: 20px
	.block_footer .item .title
		margin-bottom: 10px
	.block_footer .item .list
		margin-bottom: 20px
	.block_footer .item .chmerev_digital
		margin-top: 0
	.block_menu_top .block_menu
		padding: 15px
	.header_main_block .inner h2
		margin-bottom: 40px
	.block_slider_they_trust_us .block_slider .item .img img
		width: 100px
	.block_slider_they_trust_us .block_slider_name span
		font-size: 16px
	.block_form .block_input, .block_form button
		margin: 0
	.popup_big.fancybox-content
		width: 500px
	.block_menu_top .item:nth-child(3)
		order: 2
		width: 100%
	.block_menu_top
		flex-wrap: wrap
	.block_menu_top .block_contacts
		display: flex
		justify-content: space-evenly
	.block_category_selection .item a .text
		font-size: 12px
		line-height: 16px
	.block_category_selection .item a .img
		width: 90px
		height: 90px
		margin-bottom: 15px
	.block_category_selection
		margin-top: 40px
		margin-bottom: 35px
	.main_block_filters .block_left
		.item
			margin-right: 0
			margin-bottom: 10px
	.section_indent65
		padding: 40px 0
	.block_form.block_form_indent_none
		padding-top: 30px
	.block_tab_links .tab_link a
		text-align: center
	.block_card_photos
		flex-wrap: wrap
	.block_card_photos .block_small
		flex-wrap: nowrap
		width: 100%
	.block_card_photos .block_small .item
		margin-right: 5px
		&:last-child
			margin-right: 0
		height: auto
	.block_card_photos .block_small .item a
		height: 120px
	.block_card_photos .block_big
		margin-right: 0
		margin-bottom: 5px
	.block_card_photos .block_big a
		height: 360px
	.section_indent7
		padding-top: 50px
		padding-bottom: 70px
	.block_favorites_basket>.item .block_text
		padding-left: 15px
	.block_quantity
		width: 130px
		height: 63px
	.block_favorites_basket>.item .block_link .item a span
		font-size: 12px
		line-height: normal
	.block_title2 .title
		font-size: 20px
		line-height: 25px
	.form_basket .block_form_basket
		flex-direction: column
		.item
			width: 100%
			margin-bottom: 30px
	.block_urgent_question .ico
		margin-right: 30px
		img
			width: 100px
	.block_urgent_question .block_text li .link
		font-size: 25px
	.block_favorites_basket>.item
		flex-wrap: wrap
		.img
			order: 1
			width: 100%
		.block_text
			width: 65%
		.block_link
			width: 35%
	.block_favorites_basket>.item .block_link .item
		.block_quantity
			margin-right: 5px
	.select_firm .item .block_text .row_span span
		font-size: 14px
		line-height: 22px
	.block_main_downloads .main_downloads
		flex-wrap: wrap
		.item
			width: 50%
			padding: 15px
	.block_title .title, .block_title .subtitle
		br
			display: none
	.slider1_ova .slider1
		width: 770px
	.slider2
		width: 430px
	.block_starter_kit
		width: 100%
	.block_about_production
		flex-wrap: wrap
		li
			width: 50%
			margin-right: 0
			margin-bottom: 50px
	.block_about_production
		margin-top: 100px
	.block_dealer_profile>.item .inner .block_input
		height: 60px
	.block_we_provide
		flex-wrap: wrap
		.item
			padding: 0
			width: calc(50% - 7.5px)
			margin-bottom: 20px
	.wraper_bg
		background-position: 20% 0
	.block_about_production li
		width: calc(50% - 7.5px)
	.block_current_jobs
		margin-bottom: 20px
	.indent_top
		margin-top: 50px
	.block_cooperation
		flex-wrap: wrap
		justify-content: space-evenly
	.block_cooperation .item
		width: calc(50% - 15px)
		margin-bottom: 15px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
