@import "vars"


/*==========  Desktop First  ==========*/

//1200
+media-breakpoint-down(ll)
	.block_menu_top
		.item
			&:nth-child(2)
				order: 1
	.block_form
		width: 930px
	.burger
		position: relative
		cursor: pointer
		width: 35px
		height: 25px
		div
			position: absolute
			width: 100%
			height: 3px
			border-radius: 3px
			background-color: #fff
			transition: 0.3s
			&:nth-child(1)
				top: 0%
				left: 50%
				transform: translate(-50%, 0%)
			&:nth-child(2)
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
			&:nth-child(3)
				top: 100%
				left: 50%
				transform: translate(-50%, -100%)
		&.action
			div
				top: 50%
				&:nth-child(1)
					transform: translate(-50%, -50%) rotate(-135deg)
				&:nth-child(2)
					display: none
				&:nth-child(3)
					transform: translate(-50%, -50%) rotate(135deg)
	.block_menu_top .block_menu
		position: absolute
		z-index: 10
		display: flex
		flex-direction: column
		right: 0
		top: 100px
		width: 310px
		padding: 30px
		background-color: rgb(16, 47, 81)
		transform: translate(200%, 0)
		transition: 0.3s
		>li
			margin-bottom: 10px
			margin-right: 0
			.drop_menu
				position: static
				visibility: visible
				opacity: 1
				width: auto
				top: 0
				left: 0
				transform: translate(0, 0)
	.block_menu_top .block_menu.action
		display: flex
		transform: translate(0, 0)
	.block_menu_top .block_menu>li .drop_menu:before
		display: none
	.block_menu_top .block_menu>li .drop_menu li a
		padding: 5px
	.block_buy_or_become>div
		padding-top: 50px
		padding-bottom: 80px
	.section_indent
		padding-top: 50px
		padding-bottom: 80px
	.block_advantages .item .text
		font-size: 10px
	.block_advantages .item .title, .block_categories_of_products_title .subtitle, .block_free_calculation .subtitle, .block_title .subtitle
		font-size: 16px
		line-height: 21px
	.block_slider_they_trust_us
		overflow: hidden
	.section_indent2
		padding-top: 50px
		padding-bottom: 50px
	.block_categories_of_products
		height: 230px
		padding: 20px 30px
	.block_categories_of_products .inner .title
		font-size: 21px
		line-height: 30px
	.block_categories_of_products .inner .btn_transparent
		width: 200px
	.block_categories_of_products.right .inner .btn_transparent
		margin-left: calc(100% - 200px)
	.mocap
		width: 840px
		bottom: -60px
	.section_indent3
		padding-top: 50px
		padding-bottom: 110px
	.bg_block_free_calculation
		background-position: -140px 0
	.section_indent4
		padding-top: 120px
		padding-bottom: 80px
	.block_saving
		flex-direction: column
	.block_form.edite_position
		margin-bottom: 50px
	.mocap2
		width: 550px
	.mocap3
		left: 45px
	.grey_block span.text
		font-size: 18px
		line-height: 23px
	.mocap4
		display: none
	.popup_big.fancybox-content .block_form_popup, .popup_small.fancybox-content .block_form_popup
		margin: 0 auto
	.header_mocap
		width: 450px
	.mocap_free_calculation
		width: 450px
	.block_category_selection .item
		width: calc(100% / 5)
	.block_category_selection
		flex-wrap: wrap
	.block_category_selection .item a .text, .main_block_filters .block_left
		margin-bottom: 10px
	.main_block_filters .block_filters
		flex-wrap: wrap
	.products_list .item .img
		height: 150px
	.products_list .item
		padding-bottom: 20px
		margin-bottom: 15px
	.products_list .item .name_product
		margin-bottom: 20px
	.block_basic_information .item .text
		font-size: 12px
		line-height: 20px
	.block_basic_information .item .img img
		height: 45px
	.block_card_photos .block_big a
		height: 420px
	.block_card_photos .block_small .item, .block_card_photos .block_small .item a
		height: 130px
	.block_card_photos .block_small
		width: 235px
	.block_modification_table
		position: relative
		overflow: auto
	.block_tabs .block_tab
		padding: 50px 40px
	.block_downloald
		flex-wrap: wrap
		justify-content: space-evenly
		.item
			margin-right: 0
			margin-bottom: 10px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
