@import "vars"


/*==========  Desktop First  ==========*/

// 370
@media (max-width: 370px)
	.block_menu_top .block_shop a
		width: 30px
		height: 30px
	.block_menu_top .block_shop a.favorites
		margin-right: 5px
	.block_menu_top .block_shop a svg
		width: 13px
	.burger
		width: 25px
		height: 20px
	.block_menu_top .block_logo a.logo img
		width: 30px
	.block_categories_of_products .inner .title
		font-size: 15px
		line-height: 22px
	.products_list .item .img
		height: 100px
	.products_list .item .param1, .products_list .item .param2
		font-size: 10px
		line-height: 14px
	.block_urgent_question .ico
		margin-right: 15px
	.block_urgent_question .block_text li .link
		font-size: 17px
	.block_favorites_basket>.item .block_link
		width: 90%

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
