@import "vars"


/*==========  Desktop First  ==========*/

// ≥992px
+media-breakpoint-down(md)
	.block_form
		width: 690px
	.btn_bulk span
		font-size: 10px
		line-height: 12px
	.mocap
		display: none
	.bg_block_free_calculation
		background-position: 0 0
	.block_free_calculation .subtitle
		margin-bottom: 50px
	.mocap2
		display: none
	.section_indent5
		padding-top: 50px
		padding-bottom: 80px
	.block_form .block_input, .block_form button
		margin: 0 10px
	.section_indent6
		padding-top: 50px
	.mocap3
		display: none
	.block_free_calculation.edite_margin .subtitle
		margin-bottom: 50px
	.grey_block
		padding: 30px 0
	.header_main_block .inner h1
		br
			display: none
	.btn_bulk
		width: 260px
	.header_main_block .inner h1
		font-size: 45px
		line-height: 52px
	.header_main_block .inner h2
		font-size: 20px
		line-height: 30px
	.block_advantages
		flex-wrap: wrap
		.item
			width: 50%
			margin-bottom: 10px
	.block_buy_or_become>div .btn_bulk
		width: 250px
	.block_buy_or_become>div.block_right .btn_bulk
		margin-left: calc(100% - 250px)
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title, .block_title .title
		font-size: 36px
		line-height: 42px
	.popup_big.fancybox-content
		width: 600px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		font-size: 20px
		line-height: 24px
		br
			display: none
	.header_mocap, .mocap_free_calculation
		display: none
	.block_form .block_input input, .breadcrumbs li a, .breadcrumbs li:before
		font-size: 12px
	.products_list .item .param1, .products_list .item .param2
		font-size: 12px
		line-height: 18px
	.products_list .item .name_product
		font-size: 18px
	.block_products_list .title
		font-size: 23px
	.block_products_list .title:after
		bottom: 7px
	.block_form.block_form_indent_none
		padding-top: 70px
	.main_block_filters .block_left
		flex-wrap: wrap
		.item
			margin-bottom: 10px
	.block_tab_links .tab_link a
		font-size: 12px
	.btn_transparent_svg
		width: 260px
	.block_description h4
		font-size: 20px
		line-height: 24px
		margin-bottom: 15px
	.block_description p
		font-size: 12px
		line-height: 18px
		margin-bottom: 20px
	.block_description span
		font-size: 12px
		line-height: 18px
	.block_assemble_modification .block_select .item
		width: 240px
		margin-right: 10px
	.block_favorites_basket>.item .block_text .title
		font-size: 16px
	.block_favorites_basket>.item .block_text .vendor_code
		font-size: 12px
	.block_favorites_basket>.item .block_text .text
		font-size: 14px
		line-height: 20px
	.block_favorites_basket>.item .block_text
		padding: 15px 0
		width: 340px
	.block_favorites_basket>.item .block_link
		flex-direction: column
	.block_favorites_basket>.item .block_link
		.item
			margin-bottom: 15px
			&:last-child
				margin-bottom: 0
	.block_favorites_basket>.item .img
		margin: 5px
	.block_urgent_question .block_mocap
		display: none
	.block_urgent_question .block_text li .link
		font-size: 35px
	.block_urgent_question .block_text li
		margin-bottom: 20px
	.block_urgent_question
		margin-bottom: 30px
	.block_card_photos
		flex-direction: column
	.block_card_photos .block_info
		width: 100%
	.block_comparison_vs_favorites, .block_order_quantity
		justify-content: space-evenly
	.block_card_photos .block_img
		margin-bottom: 15px
	.block_specifications .tabl_specifications tr td
		font-size: 14px
	.block_specifications .tabl_specifications tr td
		padding: 15px
	.block_specifications .tabl_specifications tr td:first-child
		width: 220px
	.select_firm .item
		width: 100%
		align-items: flex-start
		flex-direction: column
		.block_text
			margin-bottom: 20px
	.block_main_contacts
		flex-direction: column
		.item
			width: 100%
			&:first-child
				margin-bottom: 20px
	.block_text_jobs ul li, .block_text_jobs p, .block_main_downloads .subtitle, .block_main_downloads .main_downloads .item .text, .block_dealer_profile>.item .inner .text
		font-size: 14px
		line-height: 22px
	.block_text_jobs h3
		font-size: 25px
		line-height: normal
	.wraper_bg2
		background-size: 520px
	.slider1_ova
		overflow: auto
		.slider1
			width: 900px
	.slider2 .arrows .next
		left: calc(100% + 20px)
	.slider2 .arrows .prev
		left: -20px
	.block_dealer_profile
		flex-direction: column
		.item
			width: 100%
	.block_dealer_profile>.item .inner .text
		padding-right: 15px
	.block_qualified_staff .item .block_text span, .block_qualified_staff .item .list_qualified_staff li .text
		font-size: 14px
		line-height: 22px
	.block_starter_kit
		margin-top: 300px
	.mocap5
		top: 40%
		left: 50%
		right: auto
		bottom: auto
		transform: translate(-50%, -50%)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
