@import "vars"


/*==========  Desktop First  ==========*/

// ≥992px
+media-breakpoint-down(md)
	.block_form
		width: 690px
	.btn_bulk span
		font-size: 10px
		line-height: 12px
	.mocap
		display: none
	.bg_block_free_calculation
		background-position: 0 0
	.block_free_calculation .subtitle
		margin-bottom: 50px
	.mocap2
		display: none
	.section_indent5
		padding-top: 50px
		padding-bottom: 80px
	.block_form .block_input, .block_form button
		margin: 0 10px
	.section_indent6
		padding-top: 50px
	.mocap3
		display: none
	.block_free_calculation.edite_margin .subtitle
		margin-bottom: 50px
	.grey_block
		padding: 30px 0
	.header_main_block .inner h1
		br
			display: none
	.btn_bulk
		width: 260px
	.header_main_block .inner h1
		font-size: 45px
		line-height: 52px
	.header_main_block .inner h2
		font-size: 20px
		line-height: 30px
	.block_advantages
		flex-wrap: wrap
		.item
			width: 50%
			margin-bottom: 10px
	.block_buy_or_become>div .btn_bulk
		width: 250px
	.block_buy_or_become>div.block_right .btn_bulk
		margin-left: calc(100% - 250px)
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title
		font-size: 36px
		line-height: 42px
	.popup_big.fancybox-content
		width: 600px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		font-size: 20px
		line-height: 24px
		br
			display: none
	.header_mocap, .mocap_free_calculation
		display: none

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
