@import "vars"


/*==========  Desktop First  ==========*/

//1800
@media (max-width: 1800px)
	.block_menu_top .block_menu>li
		margin-right: 30px
	.mocap
		left: -273px
	.block_saving .item
		margin-right: 0
	.block_saving
		justify-content: space-between
		align-items: center
	.mocap2
		right: 68px
		width: 800px
	.mocap_free_calculation
		right: 160px

//1600
+media-breakpoint-down(pb)
	.block_menu_top .block_contacts li a.tel
		font-size: 19px
	.block_menu_top .block_contacts li
		margin-bottom: 10px
	.block_menu_top .block_contacts li a.mail, .block_menu_top .block_logo h4
		font-size: 12px
	.block_menu_top .block_shop a
		width: 40px
		height: 40px
	.block_menu_top .block_shop a svg
		width: 18px
	.header_main_block
		height: 600px
	.block_categories_of_products
		height: 280px
	.bg_block_free_calculation
		background-position: -120px 0
	.mocap
		width: 900px
		left: -190px
	.block_free_calculation .subtitle br
		display: none
	.block_saving .item .numb span
		font-size: 40px
	.block_saving .item .text
		font-size: 14px
	.mocap3
		left: 145px
	.grey_block span.text
		font-size: 25px
	.header_mocap
		width: 800px
	.mocap_free_calculation
		right: 100px

// ≥1370px
+media-breakpoint-down(lg)
	.header_main_block .inner h1
		font-size: 48px
		line-height: 57px
	.block_categories_of_products_title .title, .block_free_calculation .title, .block_certificates .title
		font-size: 42px
		line-height: 50px
	.block_menu_top .block_logo a.logo
		margin-right: 15px
		img
			width: 65px
	.block_menu_top .block_menu>li>a, .block_menu_top .block_menu>li .drop_menu li a, .block_slider_they_trust_us .block_slider .item .text
		font-size: 12px
	.block_menu_top .block_menu>li .drop_menu
		width: 220px
	.block_menu_top .block_menu>li .drop_menu:before
		background-position: center
	.block_menu_top .block_menu>li .drop_menu li a
		padding: 14px 15px
	.header_main_block .inner h2
		font-size: 22px
	.block_buy_or_become>div.block_left
		padding-left: 15px
	.block_buy_or_become>div.block_right
		padding-right: 15px
	.block_advantages .item .title span
		font-size: 45px
	.block_advantages .item .title, .block_categories_of_products_title .subtitle, .block_free_calculation .subtitle, .block_free_calculation .subtitle
		line-height: 25px
		font-size: 19px
	.block_slider_they_trust_us .block_slider_name span
		font-size: 20px
	.block_slider_they_trust_us .block_slider_name
		width: 170px
	.block_slider_they_trust_us .block_slider .item .img
		margin-bottom: 10px
	.header_main_block
		height: 500px
	.block_advantages .item .text
		font-size: 13px
		line-height: 20px
	.btn_bulk span
		font-size: 12px
		line-height: 17px
	.btn_bulk
		width: 330px
		height: 60px
	.block_buy_or_become>div .title
		font-size: 24px
		line-height: 36px
	.block_menu_top .block_contacts li a.tel:before
		left: -8px
	.block_categories_of_products .inner .title
		font-size: 25px
		line-height: 36px
	.btn_transparent
		font-size: 12px
	.bg_block_free_calculation
		background-position: -340px 0
	.block_free_calculation .list li
		font-size: 14px
		line-height: 20px
	.block_free_calculation .list li:before
		left: 31px
		font-size: 20px
	.block_free_calculation .list li
		padding-left: 100px
	.block_form
		padding: 35px 20px
	.block_form .block_input, .block_form button
		margin: 0 20px
	.block_form .block_input .required
		font-size: 12px
		svg
			position: relative
			top: 3px
			width: 12px
	.section_indent4
		padding-top: 145px
	.mocap
		left: -270px
	.block_form
		width: 1130px
	.btn_bulk span
		padding: 0 20px
	.block_saving .item .text
		font-size: 12px
		line-height: 22px
	.mocap2
		right: 30px
		width: 690px
		bottom: -60px
	.block_certificates .list li
		font-size: 14px
	.block_free_calculation.black .title
		br
			display: none
	.grey_block span.text
		font-size: 22px
		line-height: 28px
	.mocap3
		left: 115px
	.block_footer .item .list li a, .block_footer .item .link span, .block_footer .item .block_contacts li .mail
		font-size: 12px
	.block_footer .item .list li
		margin-bottom: 10px
	.block_footer .item .list
		margin-bottom: 50px
	.block_footer .item .block_contacts li .tel
		font-size: 20px
	.block_footer .item .block_contacts
		margin-bottom: 30px
	.block_footer .item .chmerev_digital
		font-size: 12px
	.block_footer .item .link
		margin-bottom: 30px
	.block_footer .item .chmerev_digital
		margin-top: 80px
	.popup_big.fancybox-content, .popup_small.fancybox-content
		padding: 30px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		margin-bottom: 30px
	.header_mocap
		width: 670px
	.mocap_free_calculation
		right: 50px

//1200
+media-breakpoint-down(ll)
	.block_menu_top
		.item
			&:nth-child(2)
				order: 1
	.block_form
		width: 930px
	.burger
		position: relative
		width: 35px
		height: 25px
		div
			position: absolute
			width: 100%
			height: 3px
			border-radius: 3px
			background-color: #fff
			transition: 0.3s
			&:nth-child(1)
				top: 0%
				left: 50%
				transform: translate(-50%, 0%)
			&:nth-child(2)
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
			&:nth-child(3)
				top: 100%
				left: 50%
				transform: translate(-50%, -100%)
		&.action
			div
				top: 50%
				&:nth-child(1)
					transform: translate(-50%, -50%) rotate(-135deg)
				&:nth-child(2)
					display: none
				&:nth-child(3)
					transform: translate(-50%, -50%) rotate(135deg)
	.block_menu_top .block_menu
		position: absolute
		z-index: 10
		display: flex
		flex-direction: column
		right: 0
		top: 100px
		width: 310px
		padding: 30px
		background-color: rgb(16, 47, 81)
		transform: translate(200%, 0)
		transition: 0.3s
		>li
			margin-bottom: 10px
			margin-right: 0
			.drop_menu
				position: static
				visibility: visible
				opacity: 1
				width: auto
				top: 0
				left: 0
				transform: translate(0, 0)
	.block_menu_top .block_menu.action
		display: flex
		transform: translate(0, 0)
	.block_menu_top .block_menu>li .drop_menu:before
		display: none
	.block_menu_top .block_menu>li .drop_menu li a
		padding: 5px
	.block_buy_or_become>div
		padding-top: 50px
		padding-bottom: 80px
	.section_indent
		padding-top: 50px
		padding-bottom: 80px
	.block_advantages .item .text
		font-size: 10px
	.block_advantages .item .title, .block_categories_of_products_title .subtitle, .block_free_calculation .subtitle
		font-size: 16px
		line-height: 21px
	.block_slider_they_trust_us
		overflow: hidden
	.section_indent2
		padding-top: 50px
		padding-bottom: 50px
	.block_categories_of_products
		height: 230px
		padding: 20px 30px
	.block_categories_of_products .inner .title
		font-size: 21px
		line-height: 30px
	.block_categories_of_products .inner .btn_transparent
		width: 200px
	.block_categories_of_products.right .inner .btn_transparent
		margin-left: calc(100% - 200px)
	.mocap
		width: 840px
		bottom: -60px
	.section_indent3
		padding-top: 50px
		padding-bottom: 110px
	.bg_block_free_calculation
		background-position: -140px 0
	.section_indent4
		padding-top: 120px
		padding-bottom: 80px
	.block_saving
		flex-direction: column
	.block_form.edite_position
		margin-bottom: 50px
	.mocap2
		width: 550px
	.mocap3
		left: 45px
	.grey_block span.text
		font-size: 18px
		line-height: 23px
	.mocap4
		display: none
	.popup_big.fancybox-content .block_form_popup, .popup_small.fancybox-content .block_form_popup
		margin: 0 auto
	.header_mocap
		width: 450px
	.mocap_free_calculation
		width: 450px

// ≥992px
+media-breakpoint-down(md)
	.block_form
		width: 690px
	.btn_bulk span
		font-size: 10px
		line-height: 12px
	.mocap
		display: none
	.bg_block_free_calculation
		background-position: 0 0
	.block_free_calculation .subtitle
		margin-bottom: 50px
	.mocap2
		display: none
	.section_indent5
		padding-top: 50px
		padding-bottom: 80px
	.block_form .block_input, .block_form button
		margin: 0 10px
	.section_indent6
		padding-top: 50px
	.mocap3
		display: none
	.block_free_calculation.edite_margin .subtitle
		margin-bottom: 50px
	.grey_block
		padding: 30px 0
	.header_main_block .inner h1
		br
			display: none
	.btn_bulk
		width: 260px
	.header_main_block .inner h1
		font-size: 45px
		line-height: 52px
	.header_main_block .inner h2
		font-size: 20px
		line-height: 30px
	.block_advantages
		flex-wrap: wrap
		.item
			width: 50%
			margin-bottom: 10px
	.block_buy_or_become>div .btn_bulk
		width: 250px
	.block_buy_or_become>div.block_right .btn_bulk
		margin-left: calc(100% - 250px)
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title
		font-size: 36px
		line-height: 42px
	.popup_big.fancybox-content
		width: 600px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		font-size: 20px
		line-height: 24px
		br
			display: none
	.header_mocap, .mocap_free_calculation
		display: none

// ≥768px
+media-breakpoint-down(sm)
	.block_form
		width: 100%
	.block_form .block_input input
		font-size: 10px
	section.block_form_indent
		padding-right: 30px
	.block_form
		flex-direction: column
	.block_form .block_input input
		height: 60px
		margin-bottom: 10px
	.section_indent4
		padding-top: 180px
	.section_indent3
		padding-bottom: 170px
	.block_form
		padding: 20px
	.block_saving .item
		flex-direction: column
	.block_saving .item .numb
		margin-right: 0
		line-height: 35px
	.block_saving .item .text
		text-align: center
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title
		br
			display: none
	.footer_indent
		padding-top: 40px
		padding-bottom: 40px
	.block_footer
		flex-direction: column
		.item
			margin-bottom: 20px
	.block_footer .item .title
		margin-bottom: 10px
	.block_footer .item .list
		margin-bottom: 20px
	.block_footer .item .chmerev_digital
		margin-top: 0
	.block_menu_top .block_menu
		padding: 15px
	.header_main_block .inner h2
		margin-bottom: 40px
	.block_slider_they_trust_us .block_slider .item .img img
		width: 100px
	.block_slider_they_trust_us .block_slider_name span
		font-size: 16px
	.block_form .block_input, .block_form button
		margin: 0
	.popup_big.fancybox-content
		width: 500px
	.block_menu_top .item:nth-child(3)
		order: 2
		width: 100%
	.block_menu_top
		flex-wrap: wrap
	.block_menu_top .block_contacts
		display: flex
		justify-content: space-evenly

// ≥576px
+media-breakpoint-down(xs)
	.block_menu_top .block_contacts li a.tel
		font-size: 12px
	.block_menu_top .block_contacts li
		margin-bottom: 5px
	.block_menu_top .block_contacts li a.tel:before
		display: none
	.block_menu_top .block_logo a.logo
		margin-right: 0
	.header_main_block .inner h1
		font-size: 25px
		line-height: 34px
	.header_main_block .inner h2
		font-size: 15px
	.header_main_block .inner h2
		font-size: 15px
		line-height: 23px
	.header_main_block .inner h2, .block_advantages .item .text, .block_free_calculation .list li, .block_saving .item .text
		br
			display: none
	.header_main_block
		height: 400px
	.block_menu_top
		padding: 25px 0
	.block_buy_or_become
		flex-direction: column
	.block_slider_they_trust_us .block_slider_name
		width: 130px
	.block_buy_or_become>div
		width: 100%
	.block_buy_or_become>div .title
		font-size: 19px
	.block_categories_of_products_title .title, .block_certificates .title, .block_free_calculation .title
		font-size: 22px
		line-height: 29px
	.block_advantages .item .title, .block_categories_of_products_title .subtitle, .block_free_calculation .subtitle
		font-size: 14px
		line-height: 18px
	.block_categories_of_products
		height: 190px
	.block_free_calculation .list li
		padding-left: 30px
		font-size: 12px
		margin-bottom: 30px
	.block_free_calculation .list li:before
		left: 5px
	.block_free_calculation .list li:after
		left: 15px
	.block_certificates .list li
		font-size: 12px
	.block_certificates .title
		margin-bottom: 30px
	.popup_big.fancybox-content
		width: 360px
	.popup_big.fancybox-content .block_form_popup div.popup_row .block_input input, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input input
		height: 60px
	.popup_big.fancybox-content .block_form_popup div.popup_row .block_input.active .required, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input.active .required
		font-size: 14px
	.popup_big.fancybox-content>.title, .popup_small.fancybox-content>.title
		font-size: 15px
		line-height: 17px
	.popup_big.fancybox-content .block_form_popup, .popup_small.fancybox-content .block_form_popup
		width: 100%
	.popup_big.fancybox-content .block_form_popup div.popup_row .block_input input, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input input, .popup_big.fancybox-content .block_form_popup div.popup_row .title, .popup_small.fancybox-content .block_form_popup div.popup_row .title, .popup_big.fancybox-content .block_form_popup div.popup_row .block_input .required, .popup_small.fancybox-content .block_form_popup div.popup_row .block_input .required
		font-size: 12px
	.popup_big.fancybox-content .block_form_popup div.popup_row, .popup_small.fancybox-content .block_form_popup div.popup_row
		margin-bottom: 30px
	.block_menu_top .block_logo a.logo img
		width: 40px
	.block_menu_top .block_logo a.logo
		margin-right: 5px
	.block_menu_top .block_logo h4
		font-size: 8px
		line-height: 10px
	.block_buy_or_become>div.block_right .title
		text-align: left
	.block_buy_or_become>div.block_right .btn_bulk
		margin-left: 0
	.block_buy_or_become>div
		padding: 40px 15px

@media (max-width: 370px)
	.block_menu_top .block_shop a
		width: 30px
		height: 30px
	.block_menu_top .block_shop a.favorites
		margin-right: 5px
	.block_menu_top .block_shop a svg
		width: 13px
	.burger
		width: 25px
		height: 20px
	.block_menu_top .block_logo a.logo img
		width: 30px
	.block_categories_of_products .inner .title
		font-size: 15px
		line-height: 22px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1600px
+media-breakpoint-up(xl)
