@import "vars"


/*==========  Desktop First  ==========*/

@media (max-width:1840px)
	.section6_block_left
		background-position: -340px 80px
	.section6_block_left>div:nth-child(3)
		left: 620px
	.section6_block_left>div:nth-child(2)
		left: 450px
	.section6_block_left>div:nth-child(1)
		left: 215px
	.footer
		background-position: -100px 0

// ≥1618px
+media-breakpoint-down(lg2)
	.logo
		img
			width: 100%
	.header
		background-position: 37% 0px
	.kont_top
		margin: 0 0 0 20px
	.button
		span
			padding: 0 10px
			font-size: 11px
	.header_title, .subtitle, .section8_title, .section8_block_text, .section8_list span, .section9_title
		br
			display: none
	.header_title_slider
		margin-top: 80px
	.slider_objects .slick-slide>div>div>span
		font-size: 16px
		line-height: 22px
	.section5_block
		background-size: 50%
	.section5_block>div>div:nth-child(1)
		top: 34.5%
		left: 14%
	.section5_block>div>div:nth-child(3)
		top: 62%
		left: 12%
	.section5_block>div>div:nth-child(2)
		top: 34%
		left: 86%
	.section5_block>div>div:nth-child(4)
		top: 62%
		left: 88%
	.section5_text
		font-size: 16px
		line-height: 22px
	.section5_block>div
		height: 530px
	.section6_block_left>div:nth-child(3)
		left: 360px
	.section6_block_left>div:nth-child(2)
		left: 190px
	.section6_block_left>div:nth-child(1)
		left: 25px
		top: 90px
	.section6_block_left
		background-position: -600px 80px
	.section7_block span
		font-size: 16px
		line-height: 22px
	.section7_tabs
		padding: 0 10px 0 0
	.section8_block span.section8_block_title
		font-size: 62px
	.bottom_form
		width: 100%
	.footer
		background-position: 60% 0
	.footer_logo
		width: 100%
	.section2_form_button span
		font-size: 11px

// ≥1618px
+media-breakpoint-down(lg)
	.section2_title, .section5_title, .block_text
		br
			display: none
	.section5_tab
		width: 280px
		span
			font-size: 13px
	.section5_block>div>div:nth-child(1)
		top: 30%
		left: 10%
	.section5_block>div>div:nth-child(2)
		top: 30.5%
		left: 90%
	.section5_block>div>div:nth-child(3)
		top: 53%
		left: 8%
	.section5_block>div>div:nth-child(4)
		top: 53%
		left: 92%
	.section6_block
		height: 620px
		.row
			height: 620px
	.section8
		padding-top: 60px
	.section8_title
		font-size: 40px
		line-height: 50px
	.section8_block span.section8_block_title
		font-size: 48px
		margin-bottom: 10px
	.section8_list span
		font-size: 16px
		line-height: 22px
	.section10_letter span
		font-size: 16px
	.dn1200
		display: none
	.bottom_form_title
		font-size: 29px
	.bottom_form_subtitle
		font-size: 20px
	.button_menu
		span
			font-size: 9px
	.footer
		background-position: 48% 0
	.footer_menu
		width: 430px
		li
			margin: 0 10px
	.footer_call_back .footer_tel
		font-size: 19px
	.section2_form_button span
		font-size: 14px

// ≥992px
+media-breakpoint-down(md)
	.section2_title
		font-size: 40px
	.section2_form_button span
		font-size: 12px
	.section3_block h3.section3_block_title
		font-size: 20px
		line-height: 34px
	.section3_block .section3_block_list li
		margin-bottom: 5px
		font-size: 14px
		line-height: 20px
	.section5_title, .section7_title, .section9_title
		font-size: 36px
		line-height: 50px
	.section5_tab
		margin-bottom: 10px
	.section5_text
		font-size: 12px
		line-height: 17px
	.section5_block>div>div:nth-child(1)
		top: 25.5%
		left: 5%
	.section5_block>div>div:nth-child(3)
		top: 42.5%
		left: 3%
	.section5_block>div>div:nth-child(2)
		top: 25.5%
		left: 96%
	.section5_block>div>div:nth-child(4)
		top: 42.5%
		left: 97%
	.section7_title
		br
			display: none
	.section7_tabs li a .block_text span
		font-size: 12px
	.section8_title
		font-size: 29px
		line-height: 40px
	.section8_block span.section8_block_title
		font-size: 38px
		margin-bottom: 0
	.section8_block
		padding: 20px
	.section8_block span.section8_block_text, .section8_list span
		font-size: 12px
		line-height: 20px
	.section8_list:after
		right: 10px
	.section8_list
		padding-right: 75px
	.section8_text_bottom, .section9_subtitle
		font-size: 22px
	.slider_objects2.licenses
		padding: 0 0
	.bottom_form_title, .licenses_title
		font-size: 20px
	.bottom_form_subtitle
		font-size: 14px
		line-height: 20px
		margin-bottom: 20px
	.header
		background-position: 48% 0
	.language_block
		margin: 0 0 0 10px
	.footer_menu
		display: block
		width: 240px
		li
			display: block
			height: 50px
			margin: 0
			a
				display: block
				text-align: center
				line-height: 50px
	.footer
		background-position: 39% 0
	.section7
		padding-bottom: 40px
	.section8_block span.section8_block_title
		font-size: 62px
	.section8_title
		margin-bottom: 40px

// ≥768px
+media-breakpoint-down(sm)
	.header_title
		margin-top: 80px
		font-size: 26px
		line-height: 40px
	.subtitle
		font-size: 20px
		line-height: 32px
	.header
		height: 890px
	.language_block
		margin: 0
		width: 100%
	.language_block li
		font-size: 11px
	.kont_top
		margin: 0
	.kont_top li:first-child a
		font-size: 12px
	.kont_top li
		line-height: 26px
		padding-left: 20px
	.kont_top li:last-child a
		font-size: 12px
	.button_menu
		span
			padding: 0
			font-size: 8px
	.menu
		height: 107px
	.section2_title
		font-size: 34px
		line-height: 40px
	.section2
		padding-top: 80px
	.header
		background-position: 42% 0
	.section2_form_button span
		font-size: 9px
	.slider_objects
		padding: 0 25px
	.section5_title
		font-size: 30px
		line-height: 36px
	.section5
		padding-top: 80px
	.section4
		padding-bottom: 80px
	.section4_button
		margin-bottom: 100px
	.section5_subtitle
		margin-bottom: 45px
	.section5_block>div>div:nth-child(1)
		top: 22.5%
		left: -1%
	.section5_block>div>div:nth-child(3)
		top: 34.5%
		left: -4%
	.section5_block>div>div:nth-child(2)
		top: 22.3%
		left: 102%
	.section5_block>div>div:nth-child(4)
		top: 34.7%
		left: 104%
	.section6_block_right .section6_title
		font-size: 36px
		line-height: 50px
	.section6_block_right>span, .section11_subtitle
		font-size: 22px
		line-height: 34px
	.section7_tabs li
		width: 48%
		margin: 0 5px 20px 5px
		float: left
	.section10_text_bottom
		width: 445px
		font-size: 17px
	.section10
		padding-bottom: 80px
	.section11_title
		font-size: 36px
		line-height: 50px
	.section11
		padding-top: 80px
	.section11_subtitle
		br
			display: none
	.section11_mail_back
		margin-bottom: 40px
	.footer_menu li a
		font-size: 10px
		line-height: 20px
	.footer_menu li
		height: 20px
	.footer_call_back .footer_tel
		font-size: 14px
	.footer_height
		height: 160px

// ≥576px
+media-breakpoint-down(xs)
	.header_title
		margin-top: 40px
		font-size: 20px
		line-height: 26px
	.subtitle
		font-size: 16px
		line-height: 28px


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
