$default-font: "Montserrat-Regular", sans-serif
$text_w: #fff
$bg_c: #050f1f
$text_blue: #2753c9
$text_black: #000

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, lg2: 1199px, xl: 1618px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, lg2: 1170px, xl: 1558px)

$gutter: $grid-gutter-width
